registry=https://registry.yarnpkg.com/

@jobtalk:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GPR_READ_TOKEN}
//npm.pkg.github.com/jobtalk/:_authToken=${GPR_READ_TOKEN}
always-auth=true